<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil</title>
  </head>

<body class="body">
  
  <%-include('../partials/header') %>
<main>
  <div class="marco">
    <div class="left">
      <div class="edit">
        <a href="/usuario/editar-usuario"><img src="../img/iconcurso/perfil/editar.png" alt=""> </a>
      </div>
      <div class="cont-imgp">
        <img src="/img/perfil/<%= i.img %>" class="imgpf">
      </div>
      <div class="tit-per">
        <h1>Bienvenido</h1>
        <h2><%= i.nombre %></h2>
            </div>
            <div class="inf-p">
              <p>Email: <%= i.email%></p>
              <p>ID:  <%= i.id %></p>
              <button type="submit"><a href="/producto/cursos">Programacion</a></button>
              <button type="submit"><a href="/producto/cursos">Atencion al usuario</a></button>
              <button type="submit"><a href="/producto/cursos">Financiero</a></button>
      </div>
        <form class="cs" action="/usuario/salir/delete" method="POST">
          <button type="submit">Cerrar sesion</button>
        </form>
    </div>
    <div class="right">
      <div class="prox-cla">
        <p>Proximas clases:</p>
      </div>
          <div class="curso-persona">
            <div class="con-imgc"><img src="/img/Personal data _Monochromatic.svg" class="img-cur"></div>
            <div class="cont-infcur">
            <h1>Fecha:</h1>
            <h2>Curso:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas necessitatibus, sit exercitationem itaque fugiat est quisquam, architecto sunt tenetur hic maxime libero deserunt fuga ut reiciendis repellat. Possimus, veniam beatae.</p>
            </div>
            <button class="add-cur" type="submit"><a href="/producto/cursos">Agregar curso</a></button>
          </div>
    </div>
  </div>
</main>
  <%-include('../partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>