<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil</title>
  </head>

<body class="body">
  
  <%-include('../partials/header') %>

<main>
  <div class="marco">
    <%- include('../partials/navPerfil.ejs') %> 
    <div class="right">
      <label>Cursos Virtuales</label>
      <section class="cursos-agre">
        <!-- Slider main container -->
        <div class="swiper swiper-hero">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <% for(let c of cursos) {%> 
            <div class="swiper-slide">
              <div class="cursos-contenido">
                <div class="img-curso">
                  <img src="/img/paises/<%= c.img %> ">
                </div>
                <div class="cont-curso">
                  <label ><%= c.titulo %> </label>
                  <label ><%= c.profesor %> </label>
                  <label ><%= c.nivel %> </label>
                </div>
              </div>
            </div>
            <% } %> 
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          
        </div>
      </section>
      <label>Cursos Presenciales</label>
      <section class="cursos-agre">
        <!-- Slider main container -->
        <div  class="swiper swiper-hero2">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="cursos-contenido">
                <img src="/img/paises/alemania-figuras1.jpg ">
                <div>
                  <label>curso de aleman</label>
                  <div>
                    <label>fecha de inicio:25/5/2022</label>
                    <label>fecha de final:2/2/2023</label>
                    <label>link de la clase: http:www/zoom/clasePortugues</label>
                    <label>codigo:moidi</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="cursos-contenido">
                <img src="/img/paises/brasil-figuras2.jpg ">
                <div>
                  <label>Cursa de portugues</label>
                  <div>
                    <label>fecha de inicio:25/5/2022</label>
                    <label>fecha de final:2/2/2023</label>
                    <label>link de la clase: http:www/zoom/clasePortugues</label>
                    <label>codigo:moidi</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          
        </div>
      </section>
    </div>
  </div>
  <img src="/img/Personal data _Monochromatic" alt="">
</main>
  <%-include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/swper.js"></script>
</html>