<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/superAdmin.css">
  </head>

<body class="body">
  
  <%-include('../partials/header') %>

<main>
  <div class="marco">
    <%- include('../partials/navPerfil.ejs') %> 
    <section class="right">
      <div class="list-admin">
        <a class="btn-todos" href="/usuario/vista-perfil"><i class="fa-solid fa-filter-circle-xmark"></i></a>
        <label class="cantidad">Cantida: <%= cantidad %> </label>
        <input style="display: none;" id="menuFiltro" type="checkbox">
        <section class="cabecera-admin">
          <% if(titulo) {%> 
            <label class="ti">Lista de <%= titulo%> </label>
          <% } else { %> 
            <label class="ti">Lista de Usuarios </label>
          <% } %> 
          <label class="despliegue" for="menuFiltro"><i class="fa-solid fa-gear"></i></label>

          <form class="filtrar" action="/usuario/filtrar" method="POST">
            <input name="roles" value="4" id="administrador" type="radio">
            <label class="boton-fil 1" for="administrador">Administradores</label >
            <input name="roles" value="2" id="profesores" type="radio">
            <label class="boton-fil 2"  for="profesores">Profesores</label>
            <input name="roles" value="3" id="estudiantes" type="radio">
            <label class="boton-fil 3" for="estudiantes">Estudiante</label>
            <button type="submit" class="btn-fil"><i class="fa-solid fa-filter"></i>Filtrar</button>
          </form>

        </section>
        <section class="contenido-admin">
        <% if(list.length != 0) {%> 
          <% for(g of list) {%> 
          <div class="tabla-info">
            <label class="id"><%= g.id %> </label>
            <img  class="imagen-ad" src="/img/perfil/<%= g.imagen %> " >
            <section class="nombres">
              <label><%= g.nombre %> </label>
              <label><%= g.apellido %> </label>
            </section>
            <label class="gmail"><%= g.email %> </label>
            <form action="/usuario/eliminarAdmin/<%=g.id%>?_method=DELETE" method="POST"  class="eliminar"><button type="submit" class="eliminar"><i class="fa-solid fa-trash"></i>Eliminar</button></form>
          </div>
          <% } %> 
        <% } else {%> 
          <label class="vacio-not"><i id="fantasma" class="fa-solid fa-ghost"></i>Vacio ...</label>
        <% } %> 
        </section>
      </div>
    </section>
</main>
  <%-include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/swper.js"></script>

</html>