<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/superAdmin.css">
  </head>

<body class="body">
  
  <%-include('../partials/header') %>

<main>
  <div class="marco">
    <%- include('../partials/navPerfil.ejs') %> 
    <section class="admin-right">
      <div class="list-admin">
        <section class="cabecera-admin">
          <label class="ti">Lista de Administradores</label>
        </section>
        <section class="contenido-admin">

          <% for(g of list) {%> 
          <div class="tabla-info">
            <label class="id"><%= g.id %> </label>
            <img  class="imagen-ad" src="/img/perfil/<%= g.imagen %> " >
            <section class="nombres">
              <label><%= g.nombre %> </label>
              <label><%= g.apellido %> </label>
            </section>
            <label class="gmail"><%= g.email %> </label>
            <form action="/usuario/eliminarAdmin/<%=g.id%>?_method=DELETE" method="POST"  class="eliminar"><button type="submit" class="eliminar"><i class="fa-solid fa-trash"></i>Eliminar</button></form>
          </div>
          <% } %> 
        </section>
      </div>
    </section>
</main>
  <%-include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/swper.js"></script>
</html>